@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Abel', sans-serif;
    position: relative;
	height: 100vh;
	width: 100%;
	background: linear-gradient(45deg, #D5FFD0, #F5FF8D, #50CB86, #0C356A);
	overflow-x: hidden;
}

@keyframes color {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.logo {
    height: 57px;
    width: auto;
    border: 5px solid #3eb489;
    background-color: #3eb489;
    border-radius: 10px;
}

.nav-link {
    color: #ffffff;
    background-color: #0C356A;
    margin: 0 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.no-wrap {
	white-space: nowrap;
	margin-top: 593px;
	position: absolute;
	background: #219C90;
	width: 100%;
	height: 1640%;
	overflow-y: hidden;
}

.nav-link:hover {
    background-color: #279EFF;
}

.nav-clicked {
	background: #0C356A;
    margin: 0 10px;
    border-radius: 5px;
    padding: 10px 20px;
}

h1 {
    font-size: 5.5rem;
    color: #0C356A;
    font-family: 'Audiowide', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

h3 {
	color: white;
    font-family: 'Audiowide', sans-serif;
    text-transform: uppercase;
}

.lead {
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    text-align: justify;
    margin-right: 45%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.text-content {
    padding-right: 20%;
}

.breadboard-image {
    position: absolute;
    left: 53%;
    top: 30%;
}

.breadboard-image img {
    width: 600px;
    height: auto;
    border-radius: 10px;
}

.img-frame{
	border: 2px solid green;
	background-color: green;
	position: relative;
}

.img-frame img {
	width: 100%;
	height: 100%;
	padding-top: 5px;
}

.hovtxt {
    position: absolute;
	top: 50%;
	left: 1%;
	right: 0.45%;
    background: hsla(144, 100%, 36%, 0.78);
	opacity:0;
	transition-duration: 1.2s;
	transition-timing-function: ease-in-out;
	height:50%;
	padding: 10px;
	font-weight: bold;
	text-align: justify;
	color: black;
}

.card {
	width: 300px;
	background: #fff;
	height: 300px;
	padding: 20px;
	margin: 5px;
}

.overlay{
	width: 300px;
	background: #325B96;
	height: 200px;
	padding: 10px;
	margin-top: 105px;
	position: absolute;
	color: white;
	border-radius: 0px 0px 5px 5px;
	opacity:0;
	overflow: hidden;
	transition-duration: 1.2s;
	transition-timing-function: ease-in-out;
	text-align: justify;
}

.overlay p {
	font-size: 12px;
}

.card .card-img {
	width: 100%;
	height: auto;
	margin: auto;
}

.col:hover .overlay {
    opacity: 1;
}

.btn-show p{
	font-size: 25px;
	font-weight: bold;
	font-style: oblique;
}

.btn-green {
	font-size: 25px;
	font-weight: bold;
}

.btn-green:hover {
	background-color: blue;
	font-style: oblique;
}

.table-img {
	width: 170px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
}



