body {
    background: url('green_led.gif') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    position: relative;
}

.logo {
    height: 57px;
    width: auto;
    border: 5px solid #3eb489;
    background-color: #3eb489;
    border-radius: 10px;
}

.nav-link {
    color: #ffffff;
    background-color: #3eb489;
    margin: 0 10px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #36a377;
}

.nav-clicked {
    color: #ffffff;
    background-color: #75d481;
    margin: 0 10px;
    border-radius: 5px;
    padding: 10px 20px;
}

h1 {
    font-size: 7rem;
    color: #ffffff;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.lead {
    font-size: 2rem;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    text-align: justify;
    margin-right: 45%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.text-content {
    padding-right: 20%;
}

.breadboard-image {
    position: absolute;
    left: 53%;
    top: 30%;
}

.breadboard-image img {
    width: 600px;
    height: auto;
    border-radius: 10px;
}

.img-frame{
	border: 2px solid green;
	background-color: green;
	position: relative;
}

.img-frame img {
	width: 100%;
	height: 100%;
	padding-top: 5px;
}

.hovtxt {
    position: absolute;
	top: 50%;
	left: 1%;
	right: 0.45%;
    background: hsla(144, 100%, 36%, 0.78);
	opacity:0;
	transition-duration: 1.2s;
	transition-timing-function: ease-in-out;
	height:50%;
	padding: 10px;
	font-weight: bold;
	text-align: justify;
	color: black;
}

.img-frame:hover .hovtxt {
    opacity: 1;
}

.hovtxt-alt {
    position: absolute;
	top: 50%;
	left: 1%;
	right: 0.45%;
    background: hsla(85, 100%, 1%, 0.78);
	opacity:0;
	transition-duration: 1.2s;
	transition-timing-function: ease-in-out;
	height:50%;
	padding: 10px;
	font-weight: bold;
	text-align: justify;
	color: white;
}

.img-frame:hover .hovtxt-alt {
    opacity: 1;
}


.container2 {
	margin: 30px;
}

.card {
	width: 400px;
	background: #fff;
	height: 300px;
	padding: 20px;
	margin: 5px;
}

.overlay{
	width: 400px;
	background: #03c04a;
	height: 200px;
	padding: 20px;
	margin-top: 105px;
	position: absolute;
	color: white;
	border-radius: 0px 0px 5px 5px;
	opacity:0;
	overflow: hidden;
	transition-duration: 1.2s;
	transition-timing-function: ease-in-out;
	text-align: justify;
}

.overlay p {
	font-size: 12px;
}

.card .card-img {
	width: 100%;
	height: auto;
	margin: auto;
}

.col:hover .overlay {
    opacity: 1;
}