body {
    background-color: #f8ffe4;
    font-family: Arial, sans-serif;
}

.logo {
    max-width: 100px;
}

.nav-link {
    color: #fff;
    background-color: #3eb489;
    margin: 0 10px;
    border-radius: 5px;
    padding: 10px 20px;
}

.nav-link:hover {
    background-color: #36a377;
}

.nav-clicked {
    color: #fff;
    background-color: #75d481;
    margin: 0 10px;
    border-radius: 5px;
    padding: 10px 20px;
}

h1 {
    font-size: 2.5rem;
    color: #4d4d4d;
}

.lead {
    font-size: 1.25rem;
    color: #4d4d4d;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
